<!-- student_list.html -->

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
</head>
<body>
  {% extends "school/base.html" %}
  {% load static %}

  {% block title %}Список учеников{% endblock %}
  {% block content %}
  <div class="row">
    <strong>{{ student.name }}</strong>
    <ul>
     {% for student in object_list %}
      <li>{{ student.name }} {{ student.group }} <br> Преподаватель: {{ student.teacher.name }} {{ student.teacher.subject }}</li>
     {% endfor %}
    </ul>
  </div>
  {% endblock %}
</body>
</html>